html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #2b2b2b !important;
  border-color: #dee2e6 #dee2e6 #fff;
  color: white;
}

#run-button {
  color: green;
}

#stop-button {
  color: red;
}

.navbar-action-buttons {
  width: 45px;
  height: 38px;
  margin-right: 7px;
}

#options-button {
  margin-right: 7px;
}

#modal-title {
  width: 100%;
  text-align: center;
  margin-left: 35px;
  font-size: 25px;
}

#register-button {
  margin-right: 7px;
}

#login-button {
  margin-right: 7px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.terminal,
.xterm {
  height: 100%;
  width: 100%;
}

#content-body {
  height: calc(75% - 57px);
  border-bottom: 1.019px solid #ffffff0a;
  background-color: #2b2b2b;
}

.console {
  margin: 5 0 0 10;
}

.img-logo {
  width: 130px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 1%;
}

.xterm-viewport {
  overflow: hidden;
  overflow-y: hidden !important;
}

.btn-navbar {
  background-color: #4c4c4c;
  margin-left: 0px;
}

.btn-modal {
  background-color: #4c4c4c;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  border-top: 1.019px solid #ffffff0a;
  height: 50px;
  background-color: #2b2b2b;
  z-index: 5;
}

#small-title {
  color: #a7a5a5;
}

.small-description {
  color: white;
  font-size: 20px;
}

.principal {
  width: 100%;
  height: 100%;
}

.CodeMirror {
  border-left: 1.019px solid #ffffff0a;
  border-bottom: 1.019px solid #ffffff0a;
}

.jstree-container-ul {
  color: white;
}

.jstree-default .jstree-clicked {
  background: #528ac8bf !important;
}

#rtcode-nav {
  border-bottom: 1.019px solid #ffffff0a;
  background-color: #2b2b2b;
}

.options-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.dropdown-user > .dropdown-menu {
  left: -20%;
}

.dropdown-user > .dropdown-menu > .dropdown-item:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.editor-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.lateral-menu {
  display: inline-flex;
  width: 20%;
  flex-direction: column;
}

.file-tree-top-bar {
  display: inline-flex;
  height: 5%;
  background-color: #313335;
  color: white;
  flex-flow: row nowrap;
  align-items: center;
}

.file-tree-top-bar p {
  flex: 1;
  margin: auto;
  margin-left: 5%;
  text-align: left;
  vertical-align: middle;
}

.file-tree-top-bar .icons {
  justify-content: space-between;
  padding-right: 5px;
}

.file-tree-top-bar .icons i {
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.file-tree {
  flex: 1;
}

.editor-block {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.editor-block .editor {
  flex: 1;
  min-height: 70%;
}

.editor-block .terminal-box {
  max-height: 35%;
}

#title-header {
  font-size: 25px;
  margin-left: 1%;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinges {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}

.animated.snail {
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
}

#output-box {
  height: 100%;
  background-color: #2b2b2b;
  border-top: 1.019px solid #ffffff0a;
  border-left: 1.019px solid #ffffff0a;
}

#lateral-menu {
  border-right: 1.019px solid #ffffff0a;
  background-color: #2b2b2b !important;
}

.vakata-context {
  z-index: 100;
}

.jstree-hovered {
  background-color: #cccccc38 !important;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  0%,
  100% {
    -o-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -o-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

.options .modal-dialog {
  width: 350px;
}

.options .modal-footer {
  border-top: 0;
  margin-top: 0px;
  padding: 10px 20px 20px;
}

.options .modal-header {
  border: 0 none;
  padding: 15px 15px 15px;
  /*     padding: 11px 15px; */
}

.options .division {
  float: none;
  margin: 0 auto 18px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.options .division .line {
  border-top: 1px solid #dfdfdf;
  position: absolute;
  top: 10px;
  width: 34%;
}

.options .division .line.l {
  left: 0;
}

.options .division .line.r {
  right: 0;
}

.options .division span {
  color: #424242;
  font-size: 17px;
}

.options .box .social {
  float: none;
  margin: 0 auto 30px;
  text-align: center;
}

.options .social .circle {
  width: 46;
  background-color: #eeeeee;
  color: #ffffff;
  border-radius: 100px;
  display: inline-block;
  margin: 0 17px;
  padding: 15px;
}

.options .social .circle .fa {
  font-size: 16px;
}

.options .social .facebook {
  background-color: #455ca8;
  color: #ffffff;
}

.options .social .google {
  background-color: #f74933;
}

.options .social .github {
  background-color: #403a3a;
}

.options .facebook:hover {
  background-color: #6e83cd;
}

.options .google:hover {
  background-color: #ff7566;
}

.options .github:hover {
  background-color: #4d4d4d;
}

.options .forgot {
  color: #797979;
  margin-left: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.options .btn-login,
.registerBox .btn-register {
  background-color: #00bbff;
  border-color: #00bbff;
  border-width: 0;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
}

.options .btn-login:hover,
.registerBox .btn-register:hover {
  background-color: #00a4e4;
  color: #ffffff;
}

.options .box .form input[type='text'],
.options .box .form input[type='password'] {
  border-radius: 3px;
  border: none;
  color: #333333;
  font-size: 16px;
  height: 46px;
  margin-bottom: 5px;
  padding: 13px 12px;
  width: 100%;
}

.login .modal-dialog {
  width: 350px;
}

.login .modal-footer {
  border-top: 0;
  margin-top: 0px;
  padding: 10px 20px 20px;
}

.login .modal-header {
  border: 0 none;
  padding: 15px 15px 15px;
  /*     padding: 11px 15px; */
}

.login .division {
  float: none;
  margin: 0 auto 18px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.login .division .line {
  border-top: 1px solid #dfdfdf;
  position: absolute;
  top: 10px;
  width: 34%;
}

.login .division .line.l {
  left: 0;
}

.login .division .line.r {
  right: 0;
}

.login .division span {
  color: #424242;
  font-size: 17px;
}

.login .box .social {
  float: none;
  margin: 0 auto 30px;
  text-align: center;
}

.avatar {
  background-color: white;
}

.avatar-circle {
  width: 46;
  background-color: #eeeeee;
  color: #ffffff;
  border-radius: 100px;
  display: inline-block;
  margin: 0 17px;
  padding: 15px;
}

.login .social .circle {
  width: 46;
  background-color: #eeeeee;
  color: #ffffff;
  border-radius: 100px;
  display: inline-block;
  margin: 0 17px;
  padding: 15px;
}

.login .social .circle .fa {
  font-size: 16px;
}

.login .social .facebook {
  background-color: #455ca8;
  color: #ffffff;
}

.login .social .google {
  background-color: #f74933;
}

.login .social .github {
  background-color: #403a3a;
}

.login .facebook:hover {
  background-color: #6e83cd;
}

.login .google:hover {
  background-color: #ff7566;
}

.login .github:hover {
  background-color: #4d4d4d;
}

.login .forgot {
  color: #797979;
  margin-left: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.login .btn-login,
.registerBox .btn-register {
  background-color: #00bbff;
  border-color: #00bbff;
  border-width: 0;
  color: #ffffff;
  margin: 0 auto;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
}

.login .btn-login:hover,
.registerBox .btn-register:hover {
  background-color: #00a4e4;
  color: #ffffff;
}

.login .form-control {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
  color: #ffffff;
}

.login .form-control:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.login .form-control:focus {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
  background-color: rgba(0, 0, 0, 0.23);
  color: #ffffff;
}

.login .box .form input[type='text'],
.login .box .form input[type='password'] {
  border-radius: 3px;
  border: none;
  color: #333333;
  font-size: 16px;
  height: 46px;
  margin-bottom: 5px;
  padding: 13px 12px;
  width: 100%;
}

@media (max-width: 400px) {
  .login .modal-dialog {
    width: 100%;
  }
}

.big-login,
.big-register {
  background-color: #00bbff;
  color: #ffffff;
  border-radius: 7px;
  border-width: 2px;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  padding: 16px 60px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.big-login:hover {
  background-color: #00a4e4;
  color: #ffffff;
}

.big-register {
  background-color: rgba(0, 0, 0, 0);
  color: #00bbff;
  border-color: #00bbff;
}

.big-register:hover {
  border-color: #00a4e4;
  color: #00a4e4;
}
