.file-tree-top-bar {
  display: inline-flex;
  height: 5%;
  background-color: #313335;
  color: white;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 24;
}

.file-tree-top-bar p {
  flex: 1;
  margin: auto;
  margin-left: 5%;
  text-align: left;
  vertical-align: middle;
}

.file-tree-top-bar .icons {
  justify-content: space-between;
  padding-right: 5px;
}

.file-tree-top-bar .icons i {
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.file-tree {
  flex: 1;
}

.jstree-container-ul {
  color: white;
}

.jstree-default .jstree-clicked {
  background: #528ac8bf !important;
}

.jstree-hovered {
  background-color: #cccccc38 !important;
}